<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.id})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="account">Account</label>
				<div>
					<input id="account" placeholder="Account" type="text" th:field="*{account}">
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
			</div>
			<div class="form-group">
				<label for="type">Type</label>
				<div>
					<input id="type" placeholder="Type" type="text" th:field="*{type}">
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
			</div>
			<div class="form-group">
				<label for="buyQuantity">Buy quantity</label>
				<div>
					<input id="buyQuantity" placeholder="Buy quantity" type="number" th:field="*{buyQuantity}">
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></div>
			</div>

			<div class="form-group">
				<div>
					<a class="btn btn-danger" href="/trade/list">Cancel</a>
					<input value="Update trade" class="btn btn-primary" type="submit">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>